DJANGO_SECRET_KEY=your-django-secret-key
ENVIRONMENT=dev

# PostgreSQL Database Configuration
POSTGRES_DB=credit_track_db
POSTGRES_USER=credit_track_user
POSTGRES_PASSWORD=credit_track_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
